


VERCEL_TOKEN="your_token"
AM_KEY=AIzaSyDtG1AU22ErnQD60AzBAcaknySiz9_CEq0
IDT=https://www.googleapis.com/identitytoolkit/v3/relyingparty
VFY=https://us-central1-alight-creative.cloudfunctions.net/verifyPurchase
SMM_API_KEY=
